$bg-color: #2E0D40;
$light-purple: #704094;
$header-color: #3E1056;
$pink-color: #D313A9;

.bg-color {
  background-color: $bg-color;
}

.light-purple {
  background-color: $light-purple;
}

.header-color {
  background-color: $header-color;
}

.pink-color {
  background-color: $pink-color;
}